@import './theme.scss';
.App{
    background: black;
    margin : 0;
    background-color: $primaryColor;
    color: white;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}