$primaryColor : #1b6b0a;
$primaryLightColor : #509a3b;
$deepFir : #053D00;
$springGreen : #00FF77;
$secondaryLightColor : #71fd50;
$malachite : #08B118;
$primaryTextColor : #ffffff;
$secondaryTextColor : #000000;
$primaryDarkTextColor : rgb(200, 196, 196);
$secondaryLightTextColor : rgb(49, 48, 48);
$mintGreen : #98FB91;

$backgroundWheat : #FAFEE0;
$backgroundGreenLight : #D3FBAB;
$backgroundGreenDark : #93BA6D;



