@import '../../../theme.scss';
.JobCard{
    background: linear-gradient(135deg, $c3 0%, $c5 70%);
    width: 90%;
    margin: auto;
    height: 120px;
    border : none;
    border-radius: 20px;
    margin-top: 0.6rem;
    margin-bottom: 0rem;
    .card-content{
        height: 100%;
    }
    .btn-light{
        border-radius: 15px;
        font-weight: 500;
        font-family: 'Poppins';
    }
    .bid{
        font-size: 25px;
        margin : 20px;
        font-weight: 600;
        color : white;
        label{
            font-size: 15px;
            color : rgb(34, 33, 33);
        }
    }
}