@import '../../theme.scss';

.ActionButton{
    background: rgb(5,61,0);
    background: linear-gradient(315deg, $c3 0%, $c5 100%); 
    color : white;
    padding : 10px 25px !important;
    border: none;
    font-weight: 700;
    border-radius: 15px;
    width: fit-content !important;
}

.ActionButton:hover,
.ActionButton:active{
    background: white;
    color : $c3;
    border: none !important;
}