.business-card {
    background-image: url("../assets/job_card_template.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    // border: 5px solid green;
}

.cont-body {
    position: relative;
    bottom: 8%;
}

.cont {
    margin: 0;
    width: 100% !important;
    // transform: scale(0.6,0.6);
    background-size: cover;
    aspect-ratio: 2;
    // border: 2px solid yellow;
}

.row-head1 {
    // border: 2px solid yellow;
    align-items: center;
}

.row-head {
    // border: 2px solid black;
    align-items: center;
}

.headname {
    font-family: 'Poppins';
    color: rgb(8, 155, 140);
}

.txt {
    font-family: 'Poppins';
    color: rgb(15, 117, 107);
}

.img {
    border: 2px solid black;
}

.grad1 {
    background: rgb(240,252,255);
background: linear-gradient(90deg, rgba(240,252,255,1) 21%, rgba(187,243,255,1) 33%, rgba(176,230,241,1) 65%, rgba(122,233,255,1) 76%);
}
.pad {
    padding: 10%;
}

.pad:hover {
    background-color: #ade8f4;
    cursor: pointer;
}

.pad:focus {
    background-color: #ade8f4;
}

.highlight {
    background-color: #90e0ef !important;
}

.card-image {
    // height: 70px;
    // width: 70px;
}

.transparent {
    background: transparent;
    border: none;
}
