@import '../theme.scss';

.row1 {
    // border: 2px solid black;
    // margin-left: 6%;
}

.col1 {
    // border: 5px solid yellow;
    // padding: 0;
    // width: fit-content;
    // height: 100%;
}

.body {
    background-image: url("../assets/background.png");
    // background-color: black;
    // background-size:cover;
    background-repeat: no-repeat;
    height: fit-content;
    overflow-y: hidden;
    background: fixed;
    // border: 2px solid yellow;
}

.job-form {
    height: 100%;
    width: 100%;
    // border: 2px solid black;
    background: rgba(255, 252, 252, 0.255) !important;

    backdrop-filter: blur(7.5px) !important;

    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18) !important;
    background: linear-gradient(135deg, $c3 0%, $c5 70%) !important;

    // border-radius: 10px;
    // border: 1 px solid rgba(4,4,4,0.18) !important;
    z-index: -1;
    height: fit-content;
    overflow: scroll;
    overflow-x: hidden;

}

.txt {
    font-family: 'Poppins';
    color: white !important;
    text-align: start;
    font-size: larger;
}

.name-inp {
    background: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.name-inp:focus {
    background: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
}

.mt-6 {
    margin-top: 5rem;
}

.mt-7 {
    margin-top: 6rem;
}

.mt-8 {
    margin-top: 7rem;
}

.next-button {
    width: 8rem;
}

.row{
    overflow: hidden; 
}

.row1 {
    [class*="col-"]{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}   


.form-container {
    // border: 2px solid black;
    height: fit-content;
    // overflow-x: hidden;
}

.form-col {
    // border: 2px solid grey;
    height: fit-content;
    overflow-x: hidden;
}

::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: transparent;
      
  }

  ::-webkit-scrollbar
  {
      width: 8px;
      background-color: transparent;
  }

  ::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: turquoise;
  }

  .roww {
    align-items: center;
  }
  .next {
    margin-left: 5%;
  }
  .invalid-text {
    color: red;
    margin-left: 2%;
    font-family: "Poppins";
  }
//   .grad1 {
//     background: rgb(181,218,226);
// background: linear-gradient(90deg, rgba(181,218,226,1) 21%, rgba(128,232,254,1) 43%, rgba(0,212,255,1) 52%, rgba(0,212,255,1) 58%);
//   }