@import '../../../theme.scss';

.ClientDashboard{
    height: fit-content;
    .Welcome{
        padding: 20px;
        width: 90%;
        height: 40vh;
        margin: auto;
        background: linear-gradient(135deg, $c1 0%, $c3 70%);
        border-radius: 20px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color : rgb(251, 251, 251);
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
        // overflow-x: scroll;
        
    }
    .listheading{
        font-size: 25px;
        color : rgb(242, 242, 242);
    }
    .PendingTaskCard{
        width: 86%;
        margin: auto;
        margin-top: 30px;
        background-color: white;
        border-radius: 20px;
        padding : 20px 30px;
        .btn{
            margin : 20px;
            width: 150px;
        }
        .titlerow{
            font-size: x-large;
            display: flex;
            justify-content: center;
        }
        .bidrow{
            font-weight: bold;
            font-size: large;
            display: flex;
            justify-content: flex-end;
        }
    }
    .pendingrow{
        background: linear-gradient(135deg, $c1 0%, $c3 70%);
        margin-top : 5vh;
    }
    .close{
    }
}

.mod{
    .modtitle{
        display: flex;
        justify-content: flex-end;
    }
    .close{
        margin-right : 10px;
        margin-bottom: 5px;
    }
}