@import '../../theme.scss';

.hero {
    padding-top: 25vh;
    padding-bottom: 25vh;
    color: $textColor;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    .title {
        text-align: center;
        font-size: 4.3rem;
        color: $secondaryColor;
        margin-bottom: 2.5vh;
        .title-accent {
            color: $primaryColor;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color:$secondaryColor;
        }
    }
    .subtitle {
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .hero {
        max-width: 300px;
        .title {
            font-size: 2rem;
        }
        .subtitle {
            font-size: 1.2rem;
        }
    }
}
.mod {
    // height: 80vh !important;
    // width: 80vw !important;
    // padding: 0;
    // height: fit-content !important;
    // position: fixed;
    // margin-right: 5%;
    // width: 80vw;
    // border: 2px solid yellow;
    // width: fit-content !important;
}
.modal-content {
    padding: 0;
    // width: 30vw;
    // height: 100%;
}
.modal-body {
    padding: 0 !important;
    width: 100% !important;
    // height: 90vh !important;
    // width: 30vw;
    // width: 80vw !important;
}